@model UserViewModel

@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="row">
    <div class="col-md-4">
        <nav class="list-group list-group-flush">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa fa-shopping-bag mr-1 text-muted">
                    </i>
                    <div class="d-inline-block font-weight-medium ">
                        <a class="list-group-item" asp-action="Order" asp-controller="Parent">Siparişlerim</a>
                    </div>
                </div>
                <span class="badge badge-secondary"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa fa-user text-muted"></i>
                    <div class="d-inline-block font-weight-medium ">
                        <a class="list-group-item" asp-action="Account" asp-controller="Parent">&nbsp; Hesabım</a>
                    </div>
                </div>
                <span class="badge badge-secondary"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa fa-user text-muted"></i>
                    <div class="d-inline-block font-weight-medium ">
                        <a class="list-group-item" asp-action="Student" asp-controller="Parent">&nbsp; Kayıtlı Öğrenciler</a>
                    </div>
                </div>
                <span class="badge badge-secondary"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa fa-tag mr-1 text-muted"></i>
                    <div class="d-inline-block font-weight-medium ">
                        <a class="list-group-item" asp-action="Wallet" asp-controller="Parent">Cüzdanım</a>
                    </div>
                </div>
                <span class="badge badge-secondary"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa fa-user text-muted"></i>
                    <div class="d-inline-block font-weight-medium ">
                        <a class="list-group-item" asp-action="Logout" asp-controller="Parent">&nbsp Çıkış Yap</a>
                    </div>
                </div>
                <span class="badge badge-secondary"></span>
            </div>
        </nav>
    </div>
    <div class="col-md-8 ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-4">
                    <a asp-action="Wallet" asp-controller="Parent"><img src="~/images/icons/wallet1.png" height="75" /></a>
                </div>
                <div class="col-md-8 text-end">
                    <h3 class="mt-4 mx-5">Cüzdan Bakiyesi : @string.Format("{0:C2}",@Model.Balance)</h3>
                </div>
            </div>
            <div class="row">
                <form class="form-inline my-3" asp-action="TopUp" asp-controller="Parent" method="get">
                    <div class="form-group mb-2">
                        <input type="text" readonly class="form-control-plaintext" value="Yüklenecek Bakiye :">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label asp-for="Balance" class="sr-only"></label>
                        <input type="text" class="form-control" asp-for="Balance" >
                    </div>
                    <button type="submit" class="btn btn-secondary mb-2">+ Bakiye Yükle</button>
                </form>
                
                @if (ViewBag.Activities.Count == 0)
                {
                <div class="alert alert-secondary" role="alert">
                    Görüntülenecek cüzdan aktivitesi bulunmamaktadır.
                </div>
                }
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>İsim Soyisim</th>
                            <th>Tarih</th>
                            <th>Miktar</th>
                            <th>İşlem Türü</th>
                            <th>Yeni Bakiye</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Activities.Count > 0)
                        {
                        @foreach (var item in ViewBag.Activities)
                        {
                            <tr>
                                <td>@Model.FirstName @Model.LastName</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.TotalAmount</td>
                                <td>@item.Type</td>
                                <td>@item.NewBalance</td>
                            </tr>
                            }
                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
