@model List<CartLineViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<form class="bg0 p-t-75 p-b-85" asp-action="ConfirmPayment" asp-controller="Cart" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Ürün</th>
                                <th class="column-2"></th>
                                <th class="column-3">Fiyat</th>
                                <th class="column-4 text-center">Adet</th>
                                <th class="column-5">Toplam</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr class="table_row">
                                    <td class="column-1">
                                        <div class="how-itemcart1">
                                            <a asp-action="RemoveFromCart" asp-controller="Cart" ><img src="@item.Product.ImageUrl" alt="IMG"></a>
                                        </div>
                                    </td>
                                    <td class="column-2">@item.Product.Name</td>
                                    <td class="column-3">@string.Format("{0:C2}",item.Product.UnitPrice)</td>
                                    <td class="column-4 mx-auto">

                                        <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                            <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" asp-action="DecQuantity" asp-controller="Cart" asp-route-productId="@item.ProductId">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </a>

                                            <input class="mtext-104 cl3 txt-center num-product" type="number" asp-for="@item.Quantity" readonly>

                                            <a class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" asp-action="IncQuantity" asp-controller="Cart" asp-route-productId="@item.ProductId">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </a>
                                        </div>
                                            @*<input class=" cl3 txt-center" type="text"  value="@item.Quantity" readonly>*@  
                                    </td>
                                    <td class="column-5">@string.Format("{0:C2}",(item.Product.UnitPrice * item.Quantity))</td>
                                    <td class="column-5"><a asp-action="RemoveFromCart" asp-controller="Cart" asp-route-id="@item.ProductId"><img src="~/images/icons/icon-close2.png" height="20" /></a></td>
                                </tr>
                            }
                        </table>
                    </div>                    
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Sepet Özeti
                    </h4>

                    <div class="flex-w flex-t  p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Toplam :
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                @string.Format("{0:C2}", ViewBag.Cart-ViewBag.Cart/100)
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                KDV %1 :
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                @string.Format("{0:C2}", ViewBag.Cart/100)
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Toplam :
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                @string.Format("{0:C2}", ViewBag.Cart)
                            </span>
                        </div>
                    </div>  
                <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                    Ödeme Yap
                </button>
                <a class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer mt-4" asp-action="List" asp-controller="Product">
                    Alışverişe Dön
                </a>
            </div>
        </div>
    </div>
    </div>
</form>

